<h2>Home View is working!</h2>
<div class="row">
    <div class="col-md-8">
        <div ng-if="vm.isLoggedIn=='true'||vm.isLoggedIn==true">
            <b class="text-danger">User Info:</b>
            <div ng-init="vm.initialUser()">
                {{vm.user}}
                <div ng-init="getData()">
                    {{data}}
                    <input type="file" id="MyFile"/>
                    <input type="submit" ng-click="fileUpdate()"/>
                    <br />
                    <h2>My File</h2>
                    {{MyFile}}
                </div>
            </div>
        </div>
    </div>
</div>