<h2>Upload Document</h2>

<hr />
<div ng-app="LMSApp" ng-init="Upload()" ng-click>
    <p>
        <a href="/Document/Upload">Upload a Document for a Course</a>
    </p>
    <div class="form-group">
        <div class="row">
            <div class="col-md-10">
                <select ng-model="course" class="form-control">
                    <option ng-repeat="course in courses | orderBy:myOrderBy:reverse" value="{{course.123}}">{{course.XXX}}</option>
                    <option ng-repeat="course in courses | orderBy:myOrderBy:reverse" value="{{course.567}}">{{course.ZZZ}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
