<h2>Create a new Subject</h2>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <h3 class="control-label col-md-2">Name</h3>
        <div class="col-md-10">
            <input class="form-control" type="text" id="Name" name="Name" placeholder="Subject Name" required autofocus data-ng-model="subjectName"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add a new Subject" class="btn btn-default" ng-click="CreateSubject()"/>
        </div>
    </div>
</div>

<div>
    <a href="/Subjects">Back to List</a>
</div>
{{ErrorMessage}}
