        <span data-ng-show="vm.isRegistered">User Registered Successfully</span><br />
        <span data-ng-show="vm.isLoggedIn">Hello : {{vm.userName}}</span><br />
    <span data-ng-hide="vm.isLoggedIn || vm.isRegistered">Register</span>

    <div data-ng-show="vm.isLoggedIn">
        <input class="btn-primary" type="button" id="logOut" value="LogOut" data-ng-click="vm.logOutUser()" />
    </div>
    <button class="btn-danger"id="getValues" data-ng-click="vm.getValues()">Get Values</button>

    <ul>
        <li data-ng-repeat="v in vm.values">
            <div>
                <strong>{{v}}</strong>
            </div>
        </li>
    </ul>
