    <div data-ng-if="vm.isLoggedIn">
        <form ng-submit="vm.registerUser()">
            <input class="form-control" type="email" name="email" placeholder="Email" data-ng-model="vm.registerUserData.email" required/>
            <input class="form-control" type="text" name="username" placeholder="Username" data-ng-model="vm.registerUserData.username" required/>
            <input class="form-control" type="text" name="firstname" placeholder="Firstname" data-ng-model="vm.registerUserData.firstname" required/>
            <input class="form-control" type="text" name="lastname" placeholder="Lastname" data-ng-model="vm.registerUserData.lastname" required/>
            <input class="form-control" type="date" name="birthdate" placeholder="Birth Date" data-ng-model="vm.registerUserData.birthdate" required/>
        
            <input class="form-control" name="password" type="password" placeholder="Password" data-ng-model="vm.registerUserData.password" required/>
            <input class="form-control" name="confirmPassword" type="password" placeholder="Confirm Password" data-ng-model="vm.registerUserData.confirmPassword" required/>
            <select ng-model="vm.selectedRole" ng-init="vm.roles()">
                <option ng-repeat="role in vm.roles2" value="{{role}}">{{role}}</option>
            </select>
            <input class="btn-primary" type="submit" id="registerUser" value="Register"/>
        </form>
    </div>