<h2>Users currently registered</h2>

<p>
    <a href="/Account/Register">Create a new User</a>
</p>

<div class="form-horizontal" ng-init="GetUsers()">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p ng-click="orderBy('UserName')">
                        Username
                    </p>
                    <input type="text"
                           class="round-in-table"
                           name="Search"
                           ng-model="searchTerm.UserName"
                           placeholder="Free Search"
                           style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
                </th>
                <th>
                    <p ng-click="orderBy('FirstName')">
                        First Name
                    </p>
                    <input type="text"
                           class="round-in-table"
                           name="Search"
                           ng-model="searchTerm.FirstName"
                           placeholder="Free Search"
                           style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
                </th>
                <th>
                    <p ng-click="orderBy('LastName+FirstName')">
                        Last Name
                    </p>
                    <input type="text"
                           class="round-in-table"
                           name="Search"
                           ng-model="searchTerm.LastName"
                           placeholder="Free Search"
                           style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
                </th>
                <th>
                    <p ng-click="orderBy('BirthDate')">
                        Birth Date
                    </p>
                    <input type="text"
                           class="round-in-table"
                           name="Search"
                           ng-model="searchTerm.BirthDate"
                           placeholder="Free Search"
                           style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
                </th>
                <th>
                    <p ng-click="orderBy('Email')">
                        Email Address
                    </p>
                    <input type="text"
                           class="round-in-table"
                           name="Search"
                           ng-model="searchTerm.Email"
                           placeholder="Free Search"
                           style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
                </th>
                <th>
                    <p ng-click="orderBy('PhoneNumber')">
                        Phone Number
                    </p>
                    <input type="text"
                           class="round-in-table"
                           name="Search"
                           ng-model="searchTerm.PhoneNumber"
                           placeholder="Free Search"
                           style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
                </th>
                <th>
                    <p ng-click="orderBy('Role')">
                        Role
                    </p>
                    <input type="text"
                           class="round-in-table"
                           name="Search"
                           ng-model="searchTerm.Role"
                           placeholder="Free Search"
                           style="width:160px; height:25px; font-family: Helvetica, Arial, sans-serif">
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="user in users | orderBy:propertyName:reverse | filter:searchTerm">
                <td>{{user.UserName}}</td>
                <td>{{user.FirstName}}</td>
                <td>{{user.LastName}}</td>
                <td>{{user.BirthDate}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.PhoneNumber}}</td>
                <td>{{user.Role}}</td>
                <td>
                    <a data-ng-href="/Account/Edit/{{user.Id}}">Edit</a> |
                    <a data-ng-href="/Account/Details/{{user.Id}}">Details</a>
                    <span ng-show="user.IsDeletable">
                        | <a data-ng-href="/Account/Delete/{{user.Id}}">Delete</a>
                    </span>
                    | <a data-ng-href="/Account/ResetPassword/{{user.Id}}">Reset Password</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>