<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Content/bootstrap.css" type="text/css"/>
    <!--<link rel="stylesheet" href="Content/bootstrap-Slate.css" type="text/css"/>-->
    <link rel="stylesheet" href="Content/Site.css" type="text/css"/>

    <title>LMSApp</title>
    <base href="/">
</head>
<body data-ng-app="LMSApp">
    <div ng-controller="AccountCtrl as vm">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="navbar-brand" href="/Home">Home View</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="!vm.isLoggedIn"><a class="navbar-brand" href="/Login">Log In</a></li>
                        <li ng-if="vm.isLoggedIn"><a href="/Account">{{vm.userName}}</a></li>
                        <li ng-if="vm.isLoggedIn" data-ng-click="vm.logOutUser()"><a href="/">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="container body-content">
                <div ng-view></div>
                <footer class="footer">
                    <p class="text-danger">&copy; 2017 - LMS Lexicon - Ahmad, Anton</p>
                </footer>
            </div>
        </div>
        <!--Include all scripts here-->
        <script src="Scripts/jquery-1.10.2.min.js"></script>
        <script src="Scripts/bootstrap.min.js"></script>
        <script src="Scripts/angular.min.js"></script>
        <script src="Scripts/angular-route.min.js"></script>
        <!--Controllers and other important scripts-->
        <script src="Scripts/Angular/Main.js"></script>
        <script src="Scripts/Angular/Home.js"></script>
        <script src="Scripts/Angular/Authentication/accountCtrl.js"></script>
        <script src="Scripts/Angular/Authentication/userAccountService.js"></script>
    </div>
</body>
</html>
