<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="Content/bootstrap.css" type="text/css"/>
    <!--<link rel="stylesheet" href="Content/bootstrap-Slate.css" type="text/css"/>-->
    <link rel="stylesheet" href="Content/Site.css" type="text/css"/>
    <title>LMSApp</title>
    <base href="/">
</head>
<body data-ng-app="LMSApp">
    {{vm.userId}}
    <div ng-controller="AccountCtrl as vm">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="navbar navbar-nav">
                        <li>
                            <a href="/Home" class="navbar-brand">Home</a>
                        </li>
                        <li class="search" style="margin:10px 10px;"><input class="round" type="text" name="studentName" placeholder="Enter a student's name" /></li>
                        <li style="margin:10px 10px"><input type="submit" class="btn btn-default" /></li>
                    </ul>
                    <ul ng-if="vm.user.Role=='Admin'" class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Schedule management<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Subjects">Subjects</a>
                                </li>
                                <li>
                                    <a href="/Courses">Courses</a>
                                </li>
                                <li>
                                    <a href="/Classrooms">Classrooms</a>
                                </li>
                                <li>
                                    <a href="/Schedules">Planning</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Users">User management</a>
                        </li>
                        <li>
                            <a href="/News/AdminIndex">News management</a>
                        </li>
                    </ul>
                    <ul ng-if="vm.user.Role=='Teacher'" class="nav navbar-nav">
                        <li>
                            <a class="navbar-brand" href="/Teachers/UngradedAssignments">Ungraded Assignments</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Upload Documents<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Documents/UploadDocumentForSpecificCourse">Upload for a course</a>
                                </li>
                                <li>
                                    <a href="/Documents/UploadDocumentForMyself">Upload for myself</a>
                                </li>
                                <li>
                                    <a href="/Documents/MyDocuments">See my uploaded documents</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">My Schedule<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Teachers/Planning">Whole Schedule</a>
                                </li>
                                <li>
                                    <a href="/Teachers/NextLecture">Next Lecture</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul ng-if="vm.user.Role=='Student'" class="nav navbar-nav">
                        <li>
                            <a class="navbar-brand" href="/Students/Planning">See my Schedule</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Upload Documents<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Documents/UploadDocumentForAssignments">Submit an assignment</a>
                                </li>
                                <li>
                                    <a href="/Documents/UploadDocumentForClassroom">Upload for the whole classroom</a>
                                </li>
                                <li>
                                    <a href="/Documents/MyDocuments">See my uploaded documents</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="Students/MyGrades" ng-if="UnreadNotifications>0">My Grades({{UnreadNotifications}})</a>
                            <a href="Students/MyGrades" ng-if="UnreadNotifications<=0 || UnreadNotifications==undefined">My Grades</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="!vm.isLoggedIn ||vm.isLoggedIn=='false'"><a class="navbar-brand" href="/Login">Log In</a></li>
                        <li ng-if="vm.isLoggedIn"><a href="/Account">{{vm.userName}}</a></li>
                        <li ng-if="vm.isLoggedIn!='false' && vm.isLoggedIn!=false && vm.isLoggedIn" data-ng-click="vm.logOutUser()"><a href="/">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="container body-content">
                <div class="row">
                    <div ng-view></div>
                </div>
                <div class="row">
                    <footer class="navbar-fixed-bottom">
                        <p class="text-danger">&copy; 2017 - LMS Lexicon - Ahmad, Anton</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/modernizr-2.6.2.js"></script>
    <script src="Scripts/Angular/Main.js"></script>
    <script src="Scripts/Angular/Home/Home.js"></script>
    <script src="Scripts/Angular/Authentication/accountCtrl.js"></script>
    <script src="Scripts/Angular/Authentication/userAccountService.js"></script>
    <script src="Scripts/Angular/Users/Users.js"></script>
    <script src="Scripts/Angular/Subjects/Subjects.js"></script>
    <script src="Scripts/Angular/Document/Document.js"></script>
</body>
</html>
