<h2>Mailbox</h2>
<hr />
<div ng-app="LMSApp" ng-init="Start()" ng-cloak>
    <p>
        <a href="/Messages/Send">Send a new Message</a>
    </p>
    <div class="left">
        <form class="search glyphicon glyphicon-search" method="get">
            <input type="text" class="round" name="Search" ng-model="searchTerm" placeholder="Free Search" style="width:160px; height:25px;font-family: Helvetica, Arial, sans-serif">
        </form>
    </div>
    <table class="table">
        <tr>
            <th>
                <input type="submit" ng-click="Inbox()" value="Inbox"/>
                <input type="submit" ng-click="Sent()" value="Sent" />
                <input type="submit" ng-click="Favorite()" value="Favorite" />
                <input type="submit" ng-click="Important()" value="Important" />
                <input type="submit" ng-click="Trash()" value="Trash" />
            </th>

            <th></th>
        </tr>
        <tr id="{{mail.ID}}" ng-repeat="mail in messages | orderBy:myOrderBy:reverse | filter:searchTerm ">
            <td ng-if="mail.Sender.UserName == user.UserName"><a href="/Messages/Details/{{mail.ID}}">mig,{{mail.Reciever.UserName}}</a></td>
            <td ng-if="mail.Sender.UserName != user.UserName"><a href="/Messages/Details/{{mail.ID}}">{{mail.Sender.UserName}}</a></td>
            <td ng-click="Favorite()"><i class="material-icons" style="font-size:24px;color:black;" id="favorite">star</i></td>
            <td>{{mail.Description}}</td>
            <td>{{mail.Sent}}</td>
        </tr>
    </table>
</div>

